@charset "UTF-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(73, 177, 238);
}
header{
    text-align: center;
    color: white;
    font-weight: bold;
}
section{
    background-color: white;
    padding: 15px;
    width: 500px;
    border-radius: 20px;
    margin:auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.404);
}
footer{
    text-align: center;
    color: white;
    font-style: italic;
    margin:20px;
}

